################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MedicareFileReader/.vs/MedicareFileReader/DesignTimeBuild
